{% extends 'index.html' %}
{% load url from future %}
            {% block main-content %}
                <div>
                {% with form_wizard=wizard.form  wizard_steps=wizard.steps management_form=wizard.management_form step1=wizard.steps.step1 prev=wizard.steps.prev %}
                    {% if credits == 0 %}
                    <p>You have exhausted all your credits. <a href="#">Buy more.</a></p>
                    {% else %}
                    <div class="panel">Note: You can only send {{ credits }} SMS. If you supply more that {{ credits }} numbers, only the first {{ credits }} numbers will be sent. The rest will be ignored.
                    One SMS is 160 characters.</div>
                    {{ form_wizard.form.media }}
                    <p><span class="round label">Step {{ step1 }}</span></p>
                    <form action="" {% if step1 == 1 %}class="custom" {% elif step1 == 2 %}enctype="multipart/form-data"{% endif %} method="post">{% csrf_token %}
                    {{ management_form }}
                    {% if step1 == 1 %}
                        <fieldset>
                            <legend>Prepare SMS</legend>
                        {{ form_wizard.non_field_errors }}
                        {{ form_wizard.sender.errors }}
                        {{ form_wizard.sender.label_tag }}
                        {{ form_wizard.sender }}
                        {{ form_wizard.message.label_tag }}
                        {{ form_wizard.message }}
                        {{ form_wizard.method.errors }}
                        {{ form_wizard.method.label_tag }}
                        {{ form_wizard.method }}
                    {% if prev %}
                        <button class="button left" name="wizard_goto_step" type="submit" value="{{ wizard_steps.first }}">Back and Edit SMS</button>
                    {% endif %}
                        <input type="submit" class="button right" value="Next"/>
                        </fieldset>
                    {% elif step1 == 2 %}
                        <fieldset>
                            <legend>Supply Receipient's Phone Numbers</legend>
                        {{ form_wizard.non_field_errors }}
                        {% for field in form_wizard %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        <br />
                        {% endfor %}
                    {% if prev %}
                        <button class="button" name="wizard_goto_step" type="submit" value="{{ wizard_steps.first }}">Back and Edit SMS</button>
                    {% endif %}
                        <input type="submit" class="button" value="submit"/>
                        </fieldset>
                    {% endif %}
                    </form>
                    {% endif %}
                {% endwith %}
                </div> <!-- div -->
            {% endblock %}

            {% block nav-bar-vertical %}
                <ul class="side-nav">
                    <li><a href="{% url 'all_sent' %}">Sent Messages</a></li>
                    <hr />
                </ul>
            {% endblock %}
