{% extends 'index.html' %}
{% load url from future %}
        {% block main-content %}
            <h3>Help Topics</h3>
            
            <h5 class="subheader">My message was successfully sent but
            did not deliver to the person I sent it to.</h5>
            
            <p>Delivery of an SMS is dependent on other factors that are
            beyond our powers like unavailability of network signals in
            the area where the receipient is located or the receipient's
            phone might have been switched off for too long. We will only
            charge for messages that were successfully sent.</p>

            <h5 class="subheader">Is there any limit on the number of
            characters I can send in an SMS on this platform</h5>

            <p>No. However, 160 characters is equal to a page therefore
            exceeding 160 characters means you will be using more than
            one unit per receipient for the SMS.</p>

            <h5 class="subheader">How about if I send more messages than my
            units can cater for?</h5>

            <P>In such a case, the number of messages your credit can cater
            for will be sent. The rest will be not be sent and you will be
            shown a list of such numbers that were not sent.</P>

            <h5 class="subheader">Can I transfer my units to another account</h5>

            <p>Of course you can.</p>

            <h5 class="subheader">In my sent messages page, what is the difference between
            'forward' and 'resend'?</h5>

            <p>'forward' gives you the option to edit the message and
            change the receipients but you will be presented with the
            original message. 'resend' does not allow you edit the
            message and I will send to all the people the message was
            originally sent to. There will be a confirmation before I
            send just in case you change your mind.</p>
        {% endblock %}
