{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block google-font-css %}<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content_title %}
<blockquote class="elite">{% trans "Supply your email address into the form and we will send you an email containing your reset password." %}.</blockquote>
{% endblock %}

{% block content %}
<form action="" method="post">
  <fieldset>
    <legend>{% trans "Reset Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Send password" %}" />
</form>
{% endblock %}
