{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block google-font-css %}<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>{% endblock %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
<blockquote class="elite">{% trans "1. Pay us by SMS. No more rushing to the bank and texting teller numbers.<br />2. N1.50 per text<br />3. Get 10 SMS to test our platform.<br />4. Get rewards for loyalty" %}.</blockquote>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans 'Signup' %}" />
  <a href="{% url 'userena_signin' %}" title="{% trans 'Sign in' %}">{% trans "Already have an account?" %}</a> | 
  <a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
</form>
{% endblock %}
